.home {
    display: flex;
    flex-direction: row;

    #nav {
        background-color: #19211f;
        color: #F0F3F5;

        #navBar {
            .itemNav {
                margin: 32px;
                cursor: pointer;
            }
        }
    }

    #collectionCard {
        background-color: #7C7A7A;
        display: flex;
    }

}